{% extends '@Login/loginLayout.twig' %}

{% set pageTitle %}{{ 'Login_PasswordResetCancelConfirmTitle'|translate }}{% endset %}

{% block loginContent %}
    <div class="contentForm loginForm confirmPasswordForm">
        {% embed 'contentBlock.twig' with {'title': ('Login_PasswordResetCancelConfirm'|translate)} %}
            {% block content %}
                <p>{{ 'Login_PasswordResetCancelConfirmDescription'|translate }}</p>

                <div class="message_container">
                    {% if errorMessage is not empty %}
                        <div vue-entry="CoreHome.Notification"
                             noclear="true"
                             context="error">
                            <strong>{{ 'General_Error'|translate }}</strong>: {{ errorMessage }}<br/>
                        </div>
                    {% endif %}
                </div>
                {% if errorMessage is empty %}
                    <br>
                    <form action="{{ linkTo({'module': loginPlugin, 'action': 'cancelResetPassword', 'login': login, 'resetToken': resetToken}) }}" ng-non-bindable method="post">
                        <div class="row actions">
                            <div class="col s12">
                                <input type="hidden" name="nonce" value="{{ nonce }}"/>
                                <input class="submit btn" id='login_reset_confirm' type="submit" value="{{ 'General_Confirm'|translate }}"
                                       tabindex="100"/>
                            </div>
                        </div>
                    </form>
                {% endif %}
            {% endblock %}
        {% endembed %}
    </div>

{% endblock %}